doctype html
html(lang="ja")
  head
    title= "merry-go-raound"
    link(rel="stylesheet", href="./css/screen.css")

  body
    h1 merry-go-round

    .container
      .merry-go-round
        .pegasus
          img(src!="http://placehold.it/160x120/e8117f&text=1", alt="")
        .pegasus
          img(src!="http://placehold.it/160x120/e8117f&text=2", alt="")
        .pegasus
          img(src!="http://placehold.it/160x120/e8117f&text=3", alt="")
        .pegasus
          img(src!="http://placehold.it/160x120/e8117f&text=4", alt="")
        .pegasus
          img(src!="http://placehold.it/160x120/e8117f&text=5", alt="")
        .pegasus
          img(src!="http://placehold.it/160x120/e8117f&text=6", alt="")